<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello EJS Template</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <h1>Hello EJS Template</h1>
    <form action="/login" method="post">
        User Name : <input type="text" name="username" id="">
        Password  : <input type="password" name="password" id="">
        <input type="submit" value="Login">
    </form>
    <script>
        $.ajax({
            type: "POST",
            url: "/loginjson",
            data: JSON.stringify({firstName : "Phi", lastName: "Long"}),
            dataType : "json",
            contentType : "application/json"
        });
    </script>
</body>
</html>